@import url("https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: "Robinson Regular";
  src: url("./Robinson-Regular.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Calibri";
  src: url("./calibri-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Robinson Rough";
  src: url("./Robinson-Rough.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Big Shoulders Light";
  src: url("./BigShouldersDisplay-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Big Shoulders Regular";
  src: url("./BigShouldersDisplay-Regular.woff2") format("woff2");
}
