@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: "Calibri";
  src: url("https://cdn.apisystem.tech/memberships/atck3bt1c4mTHgI43YQm/post-materials/3035d014-e5ab-48d7-92c9-de0c3be8053b/calibri-regular.woff2")
    format("woff2");
  font-weight: bold;
}

/* @font-face {
  font-family: "Robinson Regular";
  src: url("https://cdn.apisystem.tech/memberships/atck3bt1c4mTHgI43YQm/post-materials/3035d014-e5ab-48d7-92c9-de0c3be8053b/Robinson-Regular.woff2")
    format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Robinson Rough";
  src: url("https://cdn.apisystem.tech/memberships/atck3bt1c4mTHgI43YQm/post-materials/3035d014-e5ab-48d7-92c9-de0c3be8053b/Robinson-Rough.woff2")
    format("woff2");
  font-weight: bold;
} */

@font-face {
  font-family: "Big Shoulders Display Light";
  src: url("https://cdn.apisystem.tech/memberships/atck3bt1c4mTHgI43YQm/post-materials/3035d014-e5ab-48d7-92c9-de0c3be8053b/BigShouldersDisplay-Light.woff2")
    format("woff2");
}
@font-face {
  font-family: "Big Shoulders Display Regular";
  src: url("https://cdn.apisystem.tech/memberships/atck3bt1c4mTHgI43YQm/post-materials/3035d014-e5ab-48d7-92c9-de0c3be8053b/BigShouldersDisplay-Regular.woff2")
    format("woff2");
}
